Source: mdadm
Section: admin
Priority: optional
Maintainer: Daniel Baumann <daniel.baumann@progress-linux.org>
Build-Depends:
 debhelper-compat (= 13),
 libudev-dev,
 groff-base,
 po-debconf
Standards-Version: 4.6.2
Rules-Requires-Root: no
Vcs-Browser: https://git.progress-linux.org/users/daniel.baumann/debian/packages/mdadm
Vcs-Git: https://git.progress-linux.org/users/daniel.baumann/debian/packages/mdadm
Homepage: https://raid.wiki.kernel.org

Package: mdadm
Architecture: linux-any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 debconf,
 lsb-base,
 udev
Recommends:
 ${mta:Recommends},
 kmod | module-init-tools
Suggests:
 ${mta:Suggests},
 dracut-core
Description: Tool to administer Linux MD arrays (software RAID)
 The mdadm utility can be used to create, manage, and monitor MD
 (multi-disk) arrays for software RAID or multipath I/O.
 .
 This package automatically configures mdadm to assemble arrays during the
 system startup process. If not needed, this functionality can be disabled.

Package: mdadm-udeb
Section: debian-installer
Package-Type: udeb
Architecture: linux-any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Tool to administer Linux MD arrays (software RAID)
 The mdadm utility can be used to create, manage, and monitor MD
 (multi-disk) arrays for software RAID or multipath I/O.
 .
 This is a minimal package used by the debian-installer.
