Source: mdadm
Section: admin
Priority: optional
Maintainer: Daniel Baumann <daniel.baumann@progress-linux.org>
Build-Depends:
 debhelper-compat (= 13),
 libudev-dev,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://raid.wiki.kernel.org
Vcs-Browser: https://git.progress-linux.org/users/daniel.baumann/debian/packages/mdadm
Vcs-Git: https://git.progress-linux.org/users/daniel.baumann/debian/packages/mdadm

Package: mdadm
Section: admin
Architecture: linux-any
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 lsb-base,
 udev,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 kmod | module-init-tools,
 ${mta:Recommends},
Suggests:
 dracut-core,
 ${mta:Suggests},
Description: Tool to administer Linux MD arrays (software RAID)
 The mdadm utility can be used to create, manage, and monitor MD
 (multi-disk) arrays for software RAID or multipath I/O.
 .
 This package automatically configures mdadm to assemble arrays during the
 system startup process. If not needed, this functionality can be disabled.

Package: mdadm-udeb
Section: debian-installer
Architecture: linux-any
Package-Type: udeb
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Tool to administer Linux MD arrays (software RAID)
 The mdadm utility can be used to create, manage, and monitor MD
 (multi-disk) arrays for software RAID or multipath I/O.
 .
 This is a minimal package used by the debian-installer.
